﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Reserva de laboratorios", "Index", "reservas", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Usuarios", "Index", "usuarios")</li>
                    <li>@Html.ActionLink("Roles", "Index", "rols")</li>
                    <li>@Html.ActionLink("Docentes", "Index", "docentes")</li>
                    <li>@Html.ActionLink("Horarios", "Index", "horarios")</li>
                    <li>@Html.ActionLink("Materias", "Index", "materias")</li>
                    <li>@Html.ActionLink("Laboratorios", "Index", "laboratorios")</li>
                    <li>@Html.ActionLink("Reservas", "Index", "reservas")</li>
                    <li>@Html.ActionLink("Cerrar Sesion", "Salir", "accesos", null, new { @class = "text-warning text-right float-right" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
