﻿@model IEnumerable<reserva_laboratorios.Models.reserva>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Reservaciones de Laboratorios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docente.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario.horario_Reserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.laboratorio.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materia.nombre)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docente.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario.horario_Reserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.laboratorio.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materia.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
