﻿
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="row">
    <form action="@Url.Content("~/Accesos/Ingresar")" method="post" id="login-form" class="login-form" autocomplete="off" role="main">
        <h1 style="text-align:center">Ingreso</h1> 
        <label class="label-email">
            <input type="text" class="text col-md-offset-5" name="user" placeholder="Usuario" tabindex="2" />
            </label>
        <label class="label-password">
            <input type="text" class="text col-md-offset-5" name="password" placeholder="Password" tabindex="2" />
            <input type="submit" class="btn btn-success col-md-offset-5" name="Entrar" value="ENTRAR" />
            </label>
          <p class="text-danger text-center">@ViewBag.Error</p>
</form>
</div>
